---
import coast from '@/assets/jungle-coast.jpg';
import bird from '@/assets/tree-bird.jpg';
import { Image } from 'astro:assets';
import { Card } from '@astrojs/starlight/components';
---

<Card title="Simple swap">
	<div data-example="swap-no-animation" style={{ position: 'relative' }}>
		<Image alt="Jungle coast" src={coast} />
		<Image style={{ display: 'none', margin: '0' }} alt="Tree bird" src={bird} />
	</div>
</Card>

<script>
	function swapImages(parent: Element) {
		const imgs = parent.querySelectorAll('img');

		imgs.forEach((img) => {
			img.style.display = img.style.display === 'none' ? 'block' : 'none';
		});
	}

	document.addEventListener('click', (event) => {
		const div = event.target.closest('div[data-example="swap-no-animation"]');
		if (!div) return;

		swapImages(div);
	});
</script>
