---
import Demo from '@/layout/Demo.astro';

export const prerender = true;

// Properties from the MDN example
// https://glitch.com/edit/#!/basic-view-transitions-api
const cdnURL = 'https://cdn.glitch.global/de7f29c8-57eb-4eb1-81b5-4e0d8565ade5';
const imageData = [
	{
		name: 'Jungle coast',
		file: 'jungle-coast',
	},
	{
		name: 'Bird in the tree',
		file: 'tree-bird',
	},
	{
		name: 'A view from the sky',
		file: 'view-from-the-sky',
	},
	{
		name: 'The view across the water',
		file: 'watery-view',
	},
];

const images = imageData.map((image) => ({
	name: image.name,
	file: `${cdnURL}/${image.file}.jpg`,
	thumb: `${cdnURL}/${image.file}_th.jpg`,
}));
---

<Demo>
	<h1>DIY Simple Transitions</h1>
	<main>
		<section class="thumbs">
			{
				images.map((image) => (
					<a href="#">
						<img alt={image.name} src={image.thumb} />
					</a>
				))
			}
		</section>
		<section class="gallery-view">
			<figure>
				<img alt={images[0].name} src={images[0].file} />
				<figcaption class="text-black">Jungle coast</figcaption>
			</figure>
		</section>
	</main>
</Demo>

<style>
	/* resets */

	figure {
		margin: 0;
	}

	/* layout */

	body {
		width: 70%;
		max-width: 700px;

		margin: 0 auto;
	}

	main {
		display: flex;
	}

	img {
		border: 1px solid #999;
	}

	.thumbs img {
		display: block;
		margin: 10px;
		border-radius: 7px;
		opacity: 0.7;
	}

	a {
		outline: 0;
	}

	.thumbs a:hover img,
	.thumbs a:focus img {
		opacity: 1;
	}

	.thumbs img:first-child {
		margin-top: 0px;
	}

	.gallery-view img {
		max-width: 100%;
		margin-right: 10px;
		border-radius: 7px;
	}

	footer,
	figcaption {
		position: absolute;
		padding: 5px 10px;
		background-color: rgba(255, 255, 255, 0.5);
	}

	footer {
		bottom: 3px;
		left: 3px;
	}

	figure {
		position: relative;
	}

	figcaption {
		top: 0px;
		right: -2px;
		border: 1px solid #999;
		border-radius: 0 7px 0 7px;
	}

	/* text */

	h1 {
		text-align: center;
	}

	/* media queries */

	@media (max-width: 980px) {
		body {
			width: 90%;
		}
	}

	@media (max-width: 700px) {
		body {
			width: 98%;
		}

		main {
			flex-direction: column;
		}

		.thumbs {
			display: flex;
			align-items: space-between;
			justify-content: space-between;
		}

		.thumbs img {
			margin: 0 0 10px 0;
		}
	}

	/* View Transitions CSS */

	::view-transition-old(root),
	::view-transition-new(root) {
		animation-duration: 0.5s;
	}

	figcaption {
		view-transition-name: figure-caption;
	}

	/* Simple final style */

	::view-transition-old(figure-caption),
	::view-transition-new(figure-caption) {
		height: 100%;
	}

	/* Alternative custom animation style */

	/*@keyframes grow-x {
      from { transform: scaleX(0); }
      to { transform: scaleX(1); }
    }

    @keyframes shrink-x {
      from { transform: scaleX(1); }
      to { transform: scaleX(0); }
    }

    ::view-transition-old(figure-caption),
    ::view-transition-new(figure-caption) {
      height: auto;
      position: absolute;
      top: 0;
      right: 0;
      left: auto;
      transform-origin: right center;
    }

    ::view-transition-old(figure-caption) {
      animation: 0.25s linear both shrink-x;
    }

    ::view-transition-new(figure-caption) {
      animation: 0.25s 0.25s linear both grow-x;
    } */
</style>
