---
import Demo from '@/layout/Demo.astro';
import {Card} from '@astrojs/starlight/components';
import {ViewTransitions} from 'astro:transitions';

export const prerender = true;
---
<Demo>
  <Fragment slot="head">
    <ViewTransitions />
  </Fragment>
  <Card>
    <div id="target"></div>
  </Card>
</Demo>
