---

---

<div class="astro-gratitude">
	Written with ❤️ using
	<span>
		<a class="starlight-link" href="https://starlight.astro.build">Starlight</a>
		by
		<a class="astro-link" href="https://astro.build">Astro</a>
	</span>
</div>
<style>
	.astro-gratitude {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		padding: 1rem;
		text-align: center;
		font-size: 1rem;
		color: var(--sl-color-gray-3);
	}

	.astro-gratitude a {
		font-weight: bold;
		color: var(--sl-color-gray-3);
	}
</style>
