---
import type { Props } from '@astrojs/starlight/props';

const { lang, lastUpdated, firstPublished }: Props = Astro.props;
---

{
	firstPublished != null && (
		<p>
			Published on
			<time datetime={firstPublished.toISOString()}>
				{firstPublished.toLocaleDateString(lang, { dateStyle: 'medium', timeZone: 'UTC' })}
			</time>
		</p>
	)
}
{
	lastUpdated != null && (
		<p>
			Last updated on
			<time datetime={lastUpdated.toISOString()}>
				{lastUpdated.toLocaleDateString(lang, { dateStyle: 'medium', timeZone: 'UTC' })}
			</time>
		</p>
	)
}
