---
import { Props } from '@astrojs/starlight/props';
import StarlightComp from '@astrojs/starlight/components/PageTitle.astro';

const props = Astro.props as Props;
---

<StarlightComp {...Astro.props} />
{
	props.entry.data.template === 'doc' && (
		<div class="meta sl-flex pt-0">
			<p>{props.entry.data.readingTime.text}</p>
		</div>
	)
}

<style>
	.meta {
		margin-top: 1rem;
		gap: 0.75rem 3rem;
		justify-content: space-between;
		flex-wrap: wrap;
		font-size: var(--sl-text-sm);
		color: var(--sl-color-gray-3);
	}
	.meta > p {
		margin-inline-start: auto;
	}
</style>
